@import 'bootstrap/dist/css/bootstrap.min.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
}

.py-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.primary-sec-color{
  background-color: #fff7e8;
}

.p-0{
  padding: 0;
}

.border{
  border: 1px solid black !important;
}


/* sections style  */
.home {
  height: auto;
}

/* header */
.b-bottom {
  border-bottom: 2px solid #E65F78;
}

.primary-color {
  color: #E65F78;
}

.primary-bg-color {
  background-color: #E65F78;
}
.primary-border{
  border: 1px solid #E65F78;
}

.secondary-color {
  color: #5C64CF;
}

.secondary-bg-color {
  background-color: #5C64CF;
}

.secondary-border{
  border: 1px solid #5C64CF;
}

.f-extra-large {
  font-size: xx-large;
}

.f-large {
  font-size: large;
}

/* home */

.SectionName {
  display: inline-block;
  transform: rotate(-35deg);
  border: 1px solid #5C64CF !important;
  margin: 0 0 30px -10px;
  color: #5C64CF;
}

.SectionHeading {
  line-height: .8;
  font-size: 70px;
  margin-bottom: 2rem;
}

.description {
  font-size: 20px;
}

.btn:hover {
  background-color: #000000 !important ;
  color: white !important;
}

/* Services section  */

.rotate15{
  transform: rotate(-15deg);
}

.card-body{
  border: 2px solid #18171c;
  box-shadow: 0 0 0 0 #18171c;
  transition: ease all 0.35s;
}
.card-body:hover{
  box-shadow: 5px 5px 0 0 #18171c;
}

/* Skills */

.Skill-card p{
  font-size: 1rem;
  border: 2px solid #18171c;
  transition: ease all 0.35s;
}
.Skill-card p:hover{
  box-shadow: 5px 5px 0 0 #18171c;
}
.Skill-card p span{
  font-size: 2rem;
}

.me img{
  border-radius: 50%!important;
  width: 150px;
  height: 150px;
}

/* Contact */

.contactformheading .SectionHeading p{
  margin-bottom: 5px !important;
}

.contact form input{
  border: 1px solid black;
}

.contact form textarea{
  border: 1px solid black;
}

/* Footer  */
.b-top {
  border-top: 2px solid #E65F78;
}
